@font-face {
    font-family: Calluna;
    src: url('../fonts/Calluna\ Black.otf');
}
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,900');


.container_preview {
    display:flex;
    flex-direction:column;
    
}




  